@model IEnumerable<MobileShopConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}
@foreach (var item in Model)
{

    <div class="col-md-3 col-sm-6">
        <div class="single-shop-product">
            <div class="product-upper">
                <img src="~/ShopOnline/img/@item.HinhAnh" alt="">
            </div>
            <h2><a href="@Url.Action("Details","SanPham", new { id = item.MaSP })">@item.TenSP</a></h2>
            <div class="product-carousel-price">
                <ins>@item.GiaBan VNĐ</ins> <del>1000000 VNĐ</del>
            </div>

            <div class="product-option-shop">
                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
            </div>
        </div>
    </div>

}

